.button {
  border-color: grey;
  border-width: .5px;
  width: 60px;
  height: 60px;
  font-size: 15px;
}

.buttonRight {
  border-color: grey;
  border-width: .5px;
  width: 60px;
  height: 60px;
  background-color: orange;
  font-size: 15px;
}

.zero {
  border-color: black;
  border-width: .5px;
  width: 120px;
  height: 60px;
  border-bottom-left-radius: 5px;
  font-size: 15px;
}

.display {
  border-width: .5px;
  border-color: black;
  width: 240px;
  height: 120px;
  background-color: grey;
  color: white;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  text-align: right;

}
