$defaultGrey: #e0e0e0;
$darkGrey: #d6d6d6;
$calculatorOrange: #f79231;
$displayColor: #999999;

.button {
  border-color: grey;
  border-width: .5px;
  width: 70px;
  height: 60px;
  font-size: 18px;
}

.buttonMain {
  @extend .button;
  background-color: $defaultGrey;
}

.buttonRight {
  @extend .button;
  background-color: $calculatorOrange;
  color: white;
}

.buttonTopRow {
  @extend .button;
  background-color: $darkGrey;
}

.zero {
  @extend .button;
  background-color: $defaultGrey;
  width: 140px;
  border-bottom-left-radius: 5px;
}

.equals {
  @extend .button;
  background-color: $calculatorOrange;
  border-bottom-right-radius: 5px;
  color: white;
}

.display {
  background-color: $displayColor;
  border-color: black;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-width: .5px;
  color: white;
  font-size: 50px;
  height: 120px;
  opacity: .75;
  text-align: right;
  width: 280px;
}

.displayText {
  padding-top: 60px;
  padding-right: 10px;
}
